body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Main content layout */
main {
  display: flex;
  flex: 1;
}

/* Sidebar styling */
.sidebar {
  width: 60px;
  background-color: #f4f4f4;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Course Section container */
.course-container {
  flex: 1;
  margin-right: 65px;
  background-color: #eaf0fe;
}
