.navbar {
  width: 100%;
  height: 67px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #b1aeae;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/* Logo styling */
.navbar-logo {
  width: 187.9px;
  height: 54.98px;
  position: relative;
  top: 5px;
  left: 10px;
}

/* Icon container styling */
.navbar-icons {
  display: flex;
  gap: 40px;
  align-items: center;
}
