.topic-section {
  padding: 10px;
  background: #fff6e5;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.topic-item {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mini-task {
  background: #fbe7ff;
  color: #c71585;
  font-weight: bold;
}

.challenging-task {
  background: #ffe7e7;
  color: #c71515;
  font-weight: bold;
}

.task-note {
  font-size: 0.8rem;
  color: #c71585;
  margin-left: 10px;
}
